
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>YENİ KULLANICI EKLE</h4>
<br />
<form method="post">
    <input type="text" name="UserName" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" name="Password" class="form-control" placeholder="Şifre" />
    <br />
    <button class="btn btn-info">KAYDET</button>
</form>

