@Html.BeginForm()
    {
<div class="container">
    <h2 class="section-title wow fadeInUp">Benimle İletişime Geç</h2>
    <div class="spacer" data-height="60"></div>
    <div class="row">
        <div class="col-md-8">
            <form id="contact-form" class="contact-form mt-6" method="post">
                <div class="messages"></div>
                <div class="row">
                    <div class="column col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="NameSurname" id="InputName" placeholder="Ad ve Soyad" required="required" data-error="Ad ve Soyad Gereklidir.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="column col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="InputEmail" name="Mail" placeholder="Email Adresi" required="required" data-error="Email Gereklidir.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="column col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputSubject" name="Subject" placeholder="Konu" required="required" data-error="Lütfen Konuyu Giriniz.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="column col-md-12">
                        <div class="form-group">
                            <textarea name="Message" id="InputMessage" class="form-control" rows="5" placeholder="Mesajınızı Giriniz." required="required" data-error="Message is required."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default">GÖNDER</button>
            </form>
        </div>
    </div>
</div>
    }

